@media (max-width:630px) {
	.logo-area {
		width:100%;
		float:none;
		margin-bottom:40px;
	}
	.logo-area img {
		display:block;
		width:86px;
		height:22px;
		margin:auto;
	}	
	
	
	.main-menu {
		width:100%;
	}
	.main-menu ul {
		float:none;
	}
	.main-menu ul li {
		float:none;
	}	
	
	
	.column-3 {
		width:100%;
		margin-right:0;
		float:none;
	}
	
	.team-image img {
		height:150px;
		width:150px;
		display:block;
		margin:auto;
	}
	
	
	.footer-top-menu {
		float:none;
		width:100%;
		margin-bottom:20px;
	}
	.footer-top-menu ul {
		text-align:center;
	}
	.footer-top-menu ul li {
		float:none;
		display:inline;
	}	
	
	.footer-top-social {
		float:none;
		width:100%;
		margin-bottom:20px;
	}
	.footer-top-social ul {
		text-align:center;
		float:none;
	}
	.footer-top-social ul li {
		float:none;
		display:inline;
	}	
	.footer-top-social ul li a {
		display:inline-block;
	}
}